<div class="mx-auto md:px-4">
    <h1 class="text-center pt-5">Wannemacher Family Tree</h1>

    <!-- Reference: https://tailwindcomponents.com/component/tailwindcss-flow-chart -->
    <div
        class="h-full md:h-full overflow-auto snap-mandatory snap-x scroll-p-64 md:scroll-p-16 items-start justify-start flex bg-gradient-to-t from-red-700/10">
        <div class="p-4 w-fit border-l-2 border-t-4">
            <app-family-tree-node [familyNodeDate]="familyTreeData"></app-family-tree-node>
        </div>
    </div>
</div>