<div id="carouselExampleControls"
     class="carousel slide"
     data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/800/400?random=1"
                 class="img-fluid"
                 alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/800/400?random=2"
                 class="img-fluid"
                 alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/800/400?random=3"
                 class="img-fluid"
                 alt="...">
        </div>
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon"
              aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
        <span class="carousel-control-next-icon"
              aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container m-5">
    <h1>History</h1>
    <h2></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est earum voluptatem unde consectetur, impedit animi
        labore obcaecati. Vero doloribus eum distinctio perferendis, tenetur quod amet fugiat harum eligendi atque
        aspernatur?</p>
</div>