@use "sass:map";

// Of course you can customize everything ;)

$dark-primary-text: rgba(#000939, 0.87);
$dark-secondary-text: rgba(#000939, 0.54);

$dark-test-text: rgba(#6002ee, 0.54);

$dark-disabled-text: rgba(#000939, 0.38);
$dark-dividers: rgba(#000939, 0.12);
$dark-focused: rgba(#000939, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$projects-color: #6002ee;
$printer-color: #71F1A2;
$resume-color: #4DD0E1;
$server-color: #F4FF81;

$grey-palette: (
  50: #f7f9ff,
  100: #f1f3fb,
  200: #e8eaf2,
  300: #d9dbe3,
  400: #b5b7bf,
  500: #96979f,
  600: #6d6f76,
  700: #5a5b62,
  800: #3b3d43,
  900: #1b1c22,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$slate-palette: (
  50: #fbfaff,
  100: #f6f5ff,
  200: #f1f1fe,
  300: #e8e7f5,
  400: #c6c5d3,
  500: #a8a8b4,
  600: #7e7e8a,
  700: #6a6975,
  800: #4a4a55,
  900: #282832,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$gdp-palette: (
  50: #efe5fd,
  100: #d4bff9,
  200: #b794f6,
  300: #9965f4,
  400: #7e3ff2,
  500: #6002ee,
  600: #5300e8,
  700: #3d00e0,
  800: #1c00db,
  900: #0000d6,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$sage-palette: (
  50: #f0f6f3,
  100: #daeae0,
  200: #c2dccc,
  300: #a9cdb7,
  400: #96c3a7,
  500: #84b898,
  600: #7cb190,
  700: #71a885,
  800: #67a07b,
  900: #54916a,
  A100: #f6fff9,
  A200: #c3ffd8,
  A400: #90ffb6,
  A700: #77ffa6,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

// Background palette for dark themes.
$dark-theme-background-palette: (
  status-bar: #0b2844,
  app-bar: map.get($slate-palette, 800),
  background: map.get($slate-palette, 900),
  hover: rgba(white, 0.04),
  card: map.get($slate-palette, 700),
  dialog: map.get($slate-palette, 700),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get($slate-palette, 700),
  focused-button: $light-focused,
  selected-button: map.get($slate-palette, 800),
  selected-disabled-button: map.get($slate-palette, 700),
  disabled-button-toggle: #243b53,
  unselected-chip: map.get($slate-palette, 600),
  disabled-list-option: #243b53,
  tooltip: map.get($slate-palette, 600),
);

// Foreground palette for dark themes.
$dark-theme-foreground-palette: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: map.get($slate-palette, 100),
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);





// Foreground palette for light themes.
$light-theme-foreground-palette: (
  base: #243b53,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(#243b53, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: #243b53,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(#243b53, 0.54),
  icons: rgba(#243b53, 0.54),
  text: rgba(#243b53, 0.87),
  slider-min: rgba(#243b53, 0.87),
  slider-off: rgba(#243b53, 0.26),
  slider-off-active: rgba(#243b53, 0.38),
);

// Background palette for light themes.
$light-theme-background-palette: (
  status-bar: map.get($grey-palette, 300),
  app-bar: #EEEBE6,
  background: #DEDCD6,
  hover: rgba(#243b53, 0.04),
  card: #EEEBE6,
  dialog: #EEEBE6,
  disabled-button: rgba(#243b53, 0.12),
  raised-button: #EEEBE6,
  focused-button: $dark-focused,
  selected-button: map.get($grey-palette, 300),
  selected-disabled-button: map.get($grey-palette, 400),
  disabled-button-toggle: map.get($grey-palette, 200),
  unselected-chip: map.get($grey-palette, 200),
  disabled-list-option: map.get($grey-palette, 200),
  tooltip: map.get($grey-palette, 700),
);